/* Variables */

  :root {
      --basic-white: #ffffff;
      --basic-black: #000000;
      --basic-red: #ff0000;
      --basic-green: #008000;
      --basic-yellow: #efc849;
      --basic-backgound-grey: #eeeeee;
      --basic-light-grey: #666666; 
  }

  /* Global */

  body {
     font-family: "Roboto", Arial, sans-serif;
     font-size: 16px;
     line-height: 24px;
     color: var(--basic-black);
     background-color: var(--basic-white);  
  }

.main-header-logo {
    color: var(--basic-black);
    text-decoration: none;
}
  .main-header {
      background-color: var(--basic-backgound-grey);   
  }

  .main-header-nav a, .basket-link {
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    color: var(--basic-black);
    list-style-type: none;
  }

  .main-header-nav {
    list-style-type: none;
    text-transform: uppercase;
  }

  .user-navigation{
    list-style-type: none;
    text-transform: uppercase;

  }
  .advantages-title {
    font-size: 55px;
    line-height: 55px;
  }

  .advantages-text {
    font-size: 16px;
    line-height: 24px;
  }

  .advantages-button {
      background-color: var(--basic-red);
      color: var(--basic-white);
      font-size: 16px;
      line-height: 18px;
      border-radius: 3px;
      text-decoration: none;
  }

  .slider-list ul {
    list-style-type: none;
  }
  .items {
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-black);
  }

  .items-list {
    list-style-type: none;
  }

  .items-web {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
  }

  .red-button {
     background-color: var(--basic-red);
     border-radius: 3px;
     color: var(--basic-white); 
     text-decoration: none;
     text-transform: uppercase;
  }

  .green-button {
    background-color: var(--basic-green);
    border-radius: 3px;
    color: var(--basic-white); 
    text-decoration: none;
  }

  .yellow-button {
    background-color: var(--basic-yellow);
    border-radius: 3px;
    color: var(--basic-white); 
    text-decoration: none;
  }

  .description-text {
    font-size: 16px;
    line-height: 24px; 
  }
.description-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}
  .description-offer {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
  }

  .description-list {
    font-size: 16px;
    line-height: 24px; 
  }

  .features-slogan {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
  }
.features-list {
  list-style-type: none; 
}
  .features-list-percent {
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
    color: var(--basic-black); 
  }

.features-list-description {
    font-size: 16px;
    line-height: 18px;
}

.clients {
  list-style-type: none;
}
.visually-hidden {
  opacity: 1;
}

.info-content-name {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-decoration: none;
}
.info-content-adress {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-light-grey);
    font-style: normal;
}

.info-content-phone {
    text-decoration: none;
    color: var(--basic-light-grey);
    font-size: 16px;
    line-height: 18px;
}

.footer-social ul {
  list-style-type: none;
}
.social-button {
    text-decoration: none;
    color: var(--basic-black);
    background-color: var(--basic-backgound-grey);
    border-radius: 50px;
    fill: var(--basic-white);
}

.social-slogan {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
}

.social-promo {
    font-size: 16px;
    line-height: 22px;
    color: var(--basic-light-grey);
}