/* Variables */

  :root {
      --basic-white: #ffffff;
      --basic-black: #000000;
      --basic-red: #fb565a;
      --basic-green: #00ca74;
      --basic-yellow: #efc849;
      --basic-backgound-grey: #eeeeee;
      --basic-light-grey: #666666; 
      --spacial-grey-logo: #a6a6a6;
      --special-grey-hover: #dfdfdf;
      --specisl-grey-active: #d5d5d5;
      --special-grey-disabled: #4d4d4d;
      --special-grey-scale: #d7dcdf;
      --special-grey-toggle: #ababab;
      --special-grey-border: #dbdbdb;
      --special-red-hover: #e74246;
      --special-red-active: #d7373b;
      --special-green-hover: #00BC6C;
      --special-green-active: #00AA62;
      --special-yellow-hover: #eab534;
      --special-yellow-active: #e5a722;
  }

  /* Global */

  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-black);
    background-color: var(--basic-white);  
  }

  a {
    text-decoration: none;
  }

  .page {
    height: 100%;
  } 

  .page-body { 
    min-width: 1200px;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start; 
  }

  /* Main navigation */

  .main-header {
    background-color: var(--basic-backgound-grey);
    padding-top: 49px;
  }

  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    /*min-height: 114px;*/
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: var(--basic-black);
    background-color: var(--basic-backgound-grey);
    list-style: none;
    /*padding-left: 140px;*/
  }

    /* Logo */

  .main-header-logo {
    text-decoration: none;
    max-width: 100%;
    height: auto;
  }

  .main-header-logo:active {
    opacity: 0.3;
  }

  /* Site Navigation */

  .site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 800px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    margin: 0;
  } 

  .site-navigation a:hover {
    color: var(--basic-red);
  }

  .site-navigation a:active {
    opacity: 0.3;
    color: var(--basic-black);
  }
  
  /* Cart Navigation */

  .cart-navigation {
    list-style-type: none;
    text-transform: uppercase;
    margin: 0;
  }
  .cart-link {
    position: relative;
  }

  .cart-link::before {
    content: "";
    position: absolute;
    top: 33px;
    left: -18px;
    width: 16px;
    height: 15px;
    background-image: url(../img/cart-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .site-navigation a,
  .cart-navigation a {
    color: var(--basic-black);
    display: block;
    padding: 25px 20px;
  }
  
  .cart-navigation a:hover {
    color: var(--basic-red);
  }

  .cart-navigation a:active {
    opacity: 0.3;
  }

  .catalog-active {
    position: relative;
  }

  .catalog-active::before {
    content: "";
    position: absolute;
    bottom: 13px;
    width: 76px;
    height: 2px;
    background-color: var(--basic-red);
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  /* Slider */

  .advantages {
    background-color: var(--basic-backgound-grey);
    /*padding-left: 140px;*/
  }
  .advantages-item {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages-title {
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 25px;
  }

  .advantages-text {
    width: 400px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 38px;
  }

  .advantages-button {
    background-color: var(--basic-red);
    color: var(--basic-white);
    font-size: 16px;
    line-height: 18px;
    border-radius: 3px;
    text-decoration: none;
    width: 240px;
    height: 50px;
    padding: 17px 54px 15px;
    margin-top: 38px;
  }

  .advantages-button:hover {
    background-color: var(--special-red-hover);
  } 

  .advantages-button:active {
    background-color: var(--special-red-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255,255,255,.3);
  } 


  .advantages-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
  }

  /* Items grid */

  .items {
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-black);
    /*padding-left: 140px;*/
  }

  .items-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }

  .items-list {
    list-style-type: none;
  }

  .items-web {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
  }

  .items-list-slogan {
    font-size: 16px;
    line-height: 24px;
    width: 260px;
    margin-top: 16px;
    margin-bottom: 32px;
  }

  .red-button {
    background-color: var(--basic-red);
    border-radius: 3px;
    color: var(--basic-white); 
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    width: 160px;
    height: 50px;
    padding: 17px 40px 15px;
    margin-top: 32px;
    margin-bottom: 95px;
  }

  .red-button:hover {
    background-color: var(--special-red-hover);
  }

  .red-button:active {
    background-color: var(--special-red-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255,255,255,.3);
  }

  .green-button {
    background-color: var(--basic-green);
    border-radius: 3px;
    color: var(--basic-white); 
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    width: 160px;
    height: 50px;
    padding: 17px 40px 15px;
    margin-top: 32px;
    margin-bottom: 95px;
  }

  .green-button:hover {
    background-color: var(--special-green-hover);
  }

  .green-button:active {
    background-color: var(--special-green-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255,255,255,.3);
  }

  .yellow-button {
    background-color: var(--basic-yellow);
    border-radius: 3px;
    color: var(--basic-white); 
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    width: 160px;
    height: 50px;
    padding: 17px 40px 15px;
    margin-top: 32px;
    margin-bottom: 95px;
  }

  .yellow-button:hover {
    background-color: var(--special-yellow-hover);
  }

  .yellow-button:active {
    background-color: var(--special-yellow-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255,255,255,.3);
  }

  /* Wrapper Grid */

  .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /*padding-left: 140px;*/
  }

  .features-list {
    display: flex;
    padding: 0; 
  }

  .description-title {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    width: 651px;
    min-height: 91px;
    margin-top: 73px;
  } 

  .description-text {
    font-size: 16px;
    line-height: 24px;
    margin-top: 32px;
    width: 646px;
  }
  
  .description-offer {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-top: 40px;
    margin-bottom: 23px;
    width: 306px;
    min-height: 24px;
  }

  .description-list {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 23px; 
    width: 399px;
    list-style: none;
    position: relative;
  }

  .description-list::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: var(--basic-red);
    top: 10px;
    left: -36px;
  }

  .description ul {
    margin-bottom: 73px;
  }

  .features {
    width: 360px;
  }

.img-logo {
    margin-top: 39px;
  }

.features-slogan {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 37px;
    margin-bottom: 31px;
  }

.features-list {
    list-style-type: none;
    margin-right: 20px; 
  }

.features-list-percent {
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
    color: var(--basic-black); 
  }

.features-list-description {
    font-size: 16px;
    line-height: 18px;
    width: 135px;
  }

  /* Clients */


.main-clients-list {
   display: flex;
   justify-content: space-between;
   width: 1160px;
   height: 180px;
   list-style: none;
   /*margin-left: 140px;
   margin-bottom: 80px;*/
   border-top: 2px solid var(--basic-backgound-grey);
   border-bottom: 2px solid var(--basic-backgound-grey);
  }

  .main-clients-list li {
    display: flex;
    align-items: center;
    /*padding-top: 46px;
    padding-bottom: 44px;*/
    position: relative;
  }

  .main-clients-list li:not(:first-child)::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    background-color: var(--basic-backgound-grey);
    background-repeat: no-repeat;
    background-position: 0 0;
  }  

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  clip: rect(0 0 0 0);
  overflow: hidden;
  }

.clients-logo {
    margin-left: 32px;
    margin-right: 43px;
    opacity: 0.2;
  }

  .clients-logo:hover {
    opacity: 1;
  }

  .clients-logo:active {
    opacity: 0.1;
  }

  /* Footer Map */

.map {
    position: relative;
}

.map iframe {
  border: 0;
  width: 100%;
  margin-top: 80px;
}

.info-content {
   width: 230px;
   padding: 49px 39px 47px 50px;
   text-align: center;
   background-color: var(--basic-white);
   position: absolute;
   bottom: 72px;
   left: 483px;
   z-index: 1;
  }

.info-content-link {
    display: inline-block;
    padding: 17px 44px 15px;
    margin-top: 37px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
    vertical-align: top;
    background: var(--basic-red);
    border-radius: 3px;
  }

.info-content-name {
    font-size: 18px;
    line-height: 30px;
    color: var(--basic-black);
    text-decoration: none;
  }

.info-content-adress {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-light-grey);
    font-style: normal;
    padding-top: 23px;
    padding-bottom: 14px;
  }

.info-content-phone {
    text-decoration: none;
    color: var(--basic-light-grey);
    font-size: 16px;
    line-height: 18px;
  }

  /* Footer Social */

  .footer-social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

.footer-social-button {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 68px 140px;
    /*padding-left: 140px;*/
    list-style: none;
  }
.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
    background-color: #e1e1e1;
    border-radius: 50%;
    margin-right: 9px;
    text-align: center;
    padding: 0;
  }

  .social-button:hover {
    background-color: var(--special-red-hover);
  }

  .social-button:active {
    background-color: var(--special-red-active);
    box-shadow: 0 3px 0 0 rgba(0,1,1,.1) inset;
  }

  .social-button svg:active {
    opacity: 0.3;
  }


  .social-button svg {
    position: absolute;
  }


.social-slogan {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
  }

.social-promo {
    font-size: 16px;
    line-height: 22px;
    color: var(--basic-light-grey);
  }


  /* Catalog Heading */

  .page-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black);
    background-color: var(--basic-backgound-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 108px;
    padding-top: 87px;
    margin-top: 0px;
  }

  /* Filter Button */ 
  .filter-button {
    display: inline-block;
    padding: 17px 89px 15px 88px;
    font: inherit;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--basic-black);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-backgound-grey);
    border-radius: 3px;
    border: none;
    
  }

  .filter-button:hover {
    background-color: var(--special-grey-hover);
  }

  .filter-button:active {
    background-color: var(--specisl-grey-active);
    color: var(--basic-black);
    opacity: 0.3;
    border: none;
  }

  .filter-button:focus {
    outline: none;
  }

   /* Filters */

   .filters {
     width: 260px;
   }

   .filter fieldset {
     padding: 0;
     margin: 0;
     margin-bottom: 46px;
     border: none;
   }

   .filter fieldset:first-child {
     margin-bottom: 54px;
   }
   .filter fieldset:last-child {
    margin-bottom: 50px;
  }

   .filter legend {
     font-size: 18px;
     line-height: 30px;
     font-weight: 700;
     text-transform: uppercase;
     margin-bottom: 16px;
   }

   .filter ul {
     padding: 0;
     margin: 0;
     list-style: none;
     line-height: 19px;
   }

   .filter-option {
     margin-bottom: 27px;
     padding-left: 38px;
     opacity: 0.3;
     line-height: 20px;
     color: var(--special-grey-disabled);
   }

   .filter-option:hover,
   .filter-option:focus {
     opacity: 1;
   }

   .filter-option:disabled {
     cursor: default;
     opacity: 0.5;
   }

   .filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
   }

   .filter-input-radio + label::before {
     content: "";
     position: absolute;
     left: -32px;
     top: -4px;
     width: 16px;
     height: 16px;
     border: 4px solid var(--basic-black);
     border-radius: 50%;
   }

   .filter-input-radio:checked + label::after {
     content: "";
     position: absolute;
     top: 4px;
     left: -24px;
     width: 8px;
     height: 8px;
     background-color: var(--basic-black);
     border-radius: 50%;
   }

   .filter-input-checkbox + label::before {
     content: "";
     position: absolute;
     left: -32px;
     top: -4px;
     background-image: url(../img/checkbox-off.svg);
     width: 23px;
     height: 23px;
     /*border: 2px solid var(--basic-black);
     border-radius: 10%;*/
   }

   .filter-input-checkbox:checked + label::after {
     content: "";
     position: absolute;
     top: -3px;
     left: -32px;
     width: 26px;
     height: 23px;
     background-image: url(../img/checkbox-on.svg);
     background-repeat: no-repeat;
     background-position: 0 0;
   }

   .range-filter {
     width: 260px;
     margin-top: 40px;
   }

   .range-controls {
     position: relative;
     height: 80px;
     margin-bottom: 14px;
     background-color: var(--basic-backgound-grey);
     border-radius: 3px;
   }

   .scale {
     width: 205px;
     height: 2px;
     background-color: var(--special-grey-scale);
     position: absolute;
     top: 40px;
     left: 20px;
   }

   .bar {
     width: 70%;
     height: 2px;
     background-color: var(--basic-green);
   }

   .toggle {
     position: absolute;
     top: 20px;
     left: 10px;
     width: 4px;
     height: 4px;
     border: 8px solid var(--basic-white);
     border-radius: 50%;
     background-color: var(--special-grey-toggle);
     box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
     cursor: pointer;
   }

   .toggle-min {
     position: absolute;
     top: 31px;
   }

   .toggle-max {
     position: absolute;
     top: 31px;
   }

   .price-controls {
     font-size: 16px;
     line-height: 22px;
     text-transform: uppercase;
   }

   .price-controls input {
     width: 80px;
     height: 38px;
     background-color: var(--basic-backgound-grey);
     border-radius: 3px;
     border: none;
     text-align: center;
     margin-left: 11px;
     padding: 0;
   }

   .max-price {
     margin-left: 22px;
   }

   /* Catalog Sort */

   .catalog {
     /*width: 760px;*/
     padding-left: 140px;
     padding-right: 141px;
     /*margin-right: 0;*/
   }

   .catalog-list {
     display: grid;
     grid-template-columns: 1fr 1fr;
     margin: 0;
     padding: 0;
     margin-top: 48px;
     list-style: none;
   }

   .catalog-item {
     position: relative;
     padding-right: 41px;
     margin-bottom: 71px;
   }

   .catalog-item:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   }

   .catalog-item::before {
    content: "";
    position: absolute;
    top: -41px;
    left: 0px;
    width: 358px;
    height: 40px;
    background-image: url(../img/browser1.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .catalog-item:hover::before {
    content: "";
    position: absolute;
    top: -41px;
    left: 0px;
    width: 358px;
    height: 40px;
    background-image: url(../img/browser1.2.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
    border-radius: 5px;
  }

   .sort {
     display: flex;
     justify-content: space-between;
     width: 760px;
     padding-bottom: 48px;
   }

   .sort legend {
     margin: 0;
     width: 360px;
     font-size: 18px;
     font-weight: 700;
     color: var(--basic-black);
     text-transform: uppercase;
   }

   .catalog-sort-type {
     display: flex;
     flex-wrap: wrap;
     margin: 0;
     padding-left: 0;
     list-style: none;
     width: 360px;
   }

   .catalog-sort-list:hover {
     color: var(--basic-black);
     opacity: 0.6;
   }

   .catalog-sort-list:active {
     color: var(--basic-black);
     opacity: 1;
   }

   .sort ul {
     display: flex;
     flex-wrap: wrap;
   }

   .catalog-pointers {
     padding-left: 29px;
   }

   .pointers {
     padding-left: 18px;
   }

   .pointers button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    color: var(--basic-black);
    opacity: 0.3;
  }

  .pointers button:hover {
     opacity: 0.6;
   }

   .pointers button:active {
    opacity: 1;
   }

   .pointers button:focus {
     outline: none;
   }

   .catalog-sort-list {
     font-size: 14px;
     text-transform: uppercase;
     opacity: 0.3;
     padding-right: 23px;
   }

   /*.catalog-sort-list:first-child {
     opacity: 1;
   }*/

    /* Wrapper Grid */

    .wrapper {
      display: grid;
      width: 1200px;
      margin: 0 auto;
    }

    /* Pagination */

    .pagination-list {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    .pagination-item a {
      display: block;
      padding: 17px 20px 15px;
      color: var(--basic-black);
      background-color: var(--basic-backgound-grey);
      border-radius: 3px;
      margin-right: 11px;
      text-transform: uppercase;
    }

    .pagination-item:first-child a {
      background-color: var(--basic-white);
      border: 3px solid var(--special-grey-border);
      padding: 14px 20px 14px;
      
    }

    .pagination-item:last-child a {
      padding: 17px 77px;
    }

    .pagination-item a:hover {
      background-color: var(--special-grey-hover);
    }
    .pagination-item a:active {
      background: var(--specisl-grey-active);
      box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
      box-sizing: border-box;
      border-radius: 3px;
      opacity: 0.3;
    }

    /* Description Blocks */

    .catalog-item {
      position: relative;
    }

    .description1 {
      display: none;
      position: absolute;
      width: 360px;
      height: 231px;
      background-color: var(--basic-backgound-grey);
      text-align: center;
      top: 348px;
      padding-top: 26px;
     
    }

    .description-heading {
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      color: var(--basic-black);
    }

    .description-heading:hover {
      color: var(--basic-red);
    }

    .description-heading:active {
      opacity: 0.3;
    }

    .description1 p {
      padding-left: 52px;
      padding-right: 52px;
      text-align: center;
      color: var(--basic-light-grey);
      padding-bottom: 32px;
    }

    .catalog-button {
      width: 200px;
      height: 50px;
      border-radius: 3px;
      background-color: var(--basic-red);
      color: var(--basic-white);
      padding: 17px 72px 15px;
    }

    .catalog-button:hover {
      background-color: var(--special-red-hover);
    }

    .catalog-button:active {
      background-color: var(--special-red-active);
    }

    .catalog-item:hover .description1 {
      display: block;
    }